body {
    text-align: center;
    margin: 100px;
    background: url("../img/leaf_bg.jpg");
    background-size: cover;

}
h2 {
    margin-bottom : 10px;
    color:chocolate;
}
h4 {
    color:black;
}
h5 {
    color:purple;
}

.container {
    width: 70%;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    background-color: aliceblue;
    background-size: cover;
    border: 2px solid black;
    color:#ccc;
    font-weight: 1500;
    font-size: 15px;
}
p {
    color:purple;
    font-size: 22px;
}

input {
    padding: 5px;
    margin-right: 7px;
    width: 25%;
}

button {
    padding: 5px 10px;
    cursor: pointer;   
}
button:hover {
    background-color: #008CBA; 
    color: white; 
  }



label {
    color:darkslategrey
}
#rotatedMatrix {
    color:darkslategrey
}